<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.13/angular.min.js"></script>
<script>
  var myApp = angular.module('myApp', []);

        myApp.controller("BreweriesController", function ($scope, $http) {
            $scope.teksti = "Hello Angular!"
        });
</script>


<h1>Breweries</h1>

<div ng-app="myApp" ng-controller="BeersController">
  {{teksti}}
</div>
